### somani4, gowtham4, mananm2 - MP3

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import os
import json
import pyshark
from IPython.display import Image

# Task 0

### PCAP files

In [2]:
http = pyshark.FileCapture('Datasets/http.pcap', keep_packets=True)
http2 = pyshark.FileCapture('Datasets/http2.pcap', keep_packets=True)
dns = pyshark.FileCapture('Datasets/dns.pcap', keep_packets=True)

In [3]:
def process_filecapture(file):
    try:
        i = 0
        while True:
            file[i]
            i += 1
    except KeyError:
        pass

process_filecapture(http)
process_filecapture(http2)
process_filecapture(dns)

In [4]:
print(len(http), len(http2),len(dns))

604 420 3761

In [5]:
## check attr and methods of pyshark captured packets
# dir(http[0]['ip'])
# dir(http[0]['tcp'])
dir(http[0])

['__bool__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__len__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_packet_string',
 'captured_length',
 'eth',
 'frame_info',
 'get_multiple_layers',
 'get_raw_packet',
 'highest_layer',
 'interface_captured',
 'ip',
 'layers',
 'length',
 'number',
 'pretty_print',
 'show',
 'sniff_time',
 'sniff_timestamp',
 'tcp',
 'transport_layer']

In [6]:
df_data = []
for pkt in http:
    if len(pkt.layers) < 3:
        continue
    if pkt[2].layer_name != 'tcp':
        continue
    
    d = {
        'timestamp': pkt.sniff_time.timestamp(),
        'highest_layer':pkt.highest_layer ,
        'length': pkt.length,
        'dest_ip': pkt['IP'].dst,
        'dest_port': pkt['TCP'].dstport
    }
    df_data.append(d)

df_http = pd.DataFrame(df_data)
df_http.head()

      timestamp highest_layer length     dest_ip dest_port
0  1.521395e+09           TCP     58  172.17.0.2      8080
1  1.521395e+09           TCP     58    10.0.2.2     55952
2  1.521395e+09           TCP     54  172.17.0.2      8080
3  1.521395e+09          HTTP    766  172.17.0.2      8080
4  1.521395e+09           TCP     54    10.0.2.2     55952

In [7]:
df_data = []
for pkt in http2:
    if len(pkt.layers) < 3:
        continue
    if pkt[2].layer_name != 'tcp':
        continue
    
    d = {
        'timestamp': pkt.sniff_time.timestamp(),
        'highest_layer':pkt.highest_layer ,
        'length': pkt.length,
        'dest_ip': pkt['IP'].dst,
        'dest_port': pkt['TCP'].dstport
        
    }
    df_data.append(d)
df_http2 = pd.DataFrame(df_data)
df_http2.head()

      timestamp highest_layer length          dest_ip dest_port
0  1.553740e+09           TLS     55    74.125.124.95       443
1  1.553740e+09           TCP     66    10.194.59.155     61103
2  1.553740e+09           TLS     55    104.25.218.21       443
3  1.553740e+09           TCP     66    10.194.59.155     64299
4  1.553740e+09           TCP     55  151.101.184.193        80

In [8]:
df_data = []
for pkt in dns:
    if len(pkt.layers) < 3:
        continue
    if pkt[2].layer_name != 'udp':
        continue
    
    d = {
        'timestamp': pkt.sniff_time.timestamp(),
        'highest_layer': pkt.highest_layer,
        'length': pkt.length,
        'dest_ip': pkt['ip'].dst,
        'source_ip': pkt['ip'].src,
        'dest_port': pkt['udp'].dstport,
        'source_port': pkt['udp'].srcport
    }
    df_data.append(d)

df_dns = pd.DataFrame(df_data)
df_dns.head()

,timestamp,highest_layer,length,dest_ip,source_ip,dest_port,source_port
0,1.521397e+09,DNS,88,162.212.156.148,10.0.2.15,53,43204
1,1.521397e+09,DNS,93,10.0.2.15,162.212.156.148,43204,53
2,1.521397e+09,DNS,88,162.212.156.148,10.0.2.15,53,43204
3,1.521397e+09,DNS,93,10.0.2.15,162.212.156.148,43204,53
4,1.521397e+09,DNS,88,162.212.156.148,10.0.2.15,53,43204

### JSON files

In [9]:
jsondata = []
with open('Datasets/osqueryd.results.log') as data_file:    
    for line in data_file:
        jsondata.append(json.loads(line))

# json_log_data = pd.read_json('Datasets/osqueryd.results.log',lines = True)

df_oslogs = pd.json_normalize(jsondata)

df_oslogs.head()

,name,hostIdentifier,calendarTime,unixTime,epoch,counter,action,decorations.host_uuid,decorations.username,columns.name,...,columns.md5,columns.mode,columns.mtime,columns.sha1,columns.sha256,columns.size,columns.target_path,columns.time,columns.transaction_id,columns.uid
0,system_info,ubuntu,Tue Feb 6 00:33:05 2018 UTC,1517877185,0,38463,added,D5882FBF-1D65-4A30-B216-77F664B7D3B0,root,rk,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,pack_fim_file_events,ubuntu,Tue Feb 6 00:33:49 2018 UTC,1517877229,0,0,added,D5882FBF-1D65-4A30-B216-77F664B7D3B0,root,NaN,...,0d4f52b9dacac07cf2316d1686cc707c,0644,1517877228,cffc9b8ead76006419975c0d22ba49d5fdf001a0,43d11069f7682e63289f38d184e4193f7486502f099250...,4096,/etc/osquery/.osquery.conf.swp,1517877228,0,0
2,pack_fim_file_events,ubuntu,Tue Feb 6 00:33:49 2018 UTC,1517877229,0,0,added,D5882FBF-1D65-4A30-B216-77F664B7D3B0,root,NaN,...,,,,,,,/etc/osquery/.osquery.conf.swx,1517877228,0,
3,pack_fim_file_events,ubuntu,Tue Feb 6 00:33:49 2018 UTC,1517877229,0,0,added,D5882FBF-1D65-4A30-B216-77F664B7D3B0,root,NaN,...,,,,,,,/etc/osquery/.osquery.conf.swx,1517877228,0,
4,pack_fim_file_events,ubuntu,Tue Feb 6 00:33:49 2018 UTC,1517877229,0,0,added,D5882FBF-1D65-4A30-B216-77F664B7D3B0,root,NaN,...,,,,,,,/etc/osquery/.osquery.conf.swx,1517877228,0,

### Export to CSV

In [10]:
# http.csv, http2.csv, dns.csv, and oslogs.csv
try:
    os.mkdir('CleanedData')
except:
    pass
df_http.to_csv('CleanedData/http.csv')
df_http2.to_csv('CleanedData/http2.csv')
df_dns.to_csv('CleanedData/dns.csv')
df_oslogs.to_csv('CleanedData/oslogs.csv')

### Search for #cmd

In [11]:
dir(http[0])

['__bool__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__len__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_packet_string',
 'captured_length',
 'eth',
 'frame_info',
 'get_multiple_layers',
 'get_raw_packet',
 'highest_layer',
 'interface_captured',
 'ip',
 'layers',
 'length',
 'number',
 'pretty_print',
 'show',
 'sniff_time',
 'sniff_timestamp',
 'tcp',
 'transport_layer']

In [12]:
# for i in range(len(http)):
#     print('Content' in http[i].show())

# Task1